<div class="row pb-4">
  <div *ngIf="(customer$ | async) as customer" class="col-6 offset-3">
    <div class="offset-4 m-5">
      <h1 class="h2 text-center">Customer details</h1>
    </div>

    <form #customerForm="ngForm" (ngSubmit)="onUpdate(customerForm, customer)">

      <div class="form-group">
        <label for="id">ID</label>
        <input [(ngModel)]="customer.id" class="form-control" name="id" type="text" readonly>
      </div>

      <div class="form-group pt-2">
        <label for="firstName">* First Name</label>
        <input [(ngModel)]="customer.firstName" class="form-control" name="firstName" type="text"
          pattern="^[A-Z].{2,24}" required>
        <div [hidden]="customerForm.controls.firstName?.valid" class="error-message">
          The first name of the customer must be between 3 and 25 characters
          and must begin with a capital letter.
        </div>
      </div>

      <div class="form-group pt-2">
        <label for="lastName">* Last Name</label>
        <input [(ngModel)]="customer.lastName" class="form-control" name="lastName" type="text"
          pattern="^[A-Za-z].{2,24}" required>
        <div [hidden]="customerForm.controls.lastName?.valid" class="error-message">
          The last name of the customer must be between 3 and 25 characters.
        </div>
      </div>

      <div class="form-group pt-2">
        <label for="amount">* E-mail</label>
        <input [(ngModel)]="customer.email" class="form-control" name="email" type="text"
          pattern="^[a-zA-Z0-9]+@{1}[a-zA-Z0-9|-]+.{1}[a-z]{2,3}" required>
        <div [hidden]="customerForm.controls.email?.valid" class="error-message">
          The e-mail address must be a valid e-mail address.
        </div>
      </div>

      <div class="form-group pt-2">
        <label for="city">* City</label>
        <input [(ngModel)]="customer.city" class="form-control" name="city" type="text" pattern="^[A-Z].{1,25}"
          required>
        <div [hidden]="customerForm.controls.city?.valid" class="error-message">
          The name of the city must be between 2 and 25 characters and must begin
          with a capital letter.
        </div>
      </div>

      <div class="form-group pt-2">
        <label for="street">* Address</label>
        <input [(ngModel)]="customer.address" class="form-control" name="address" type="text"
          pattern="^[0-9]{1,5}[ |,][ |\S+][a-zA-Z]+ ?[a-zA-Z]+" required>
        <div [hidden]="customerForm.controls.address?.valid" class="error-message">
          The street name must begin with at least one number and must include a comma or a space and at least three
          more characters.
        </div>
      </div>

      <div class="form-group">
        <input type="checkbox" id="active" name="active" [(ngModel)]="customer.active"><span>&nbsp;</span>
        <label for="active">* active</label>
      </div>

      <pre class="text-right">
        <small>* required</small>
      </pre>

      <div class="btn-group d-flex justify-content-center">
        <button [routerLink]="['/customers/']" type="reset" class="btn btn-secondary cancelBtn ml-5"><i
            class="fa fa-undo"></i></button>
        <button [disabled]="customerForm.invalid || updating" class="btn btn-success mr-5" type="submit">
          <i *ngIf="!updating" class="fa fa-save"></i>
          <i *ngIf="updating" class="fa fa-refresh"></i>
        </button>
      </div>

    </form>

  </div>
</div>
